{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
